<!DOCTYPE html>

<html>
    <head>
        <title>{{pageTitle}}</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <h2>{{notFoundText}}</h2>
        </div>
        
        {{>footer}}
    </body>
</html>