<head>
    <title>
        {{#if pageTitle}}
            {{pageTitle}}
        {{else}}
            Weather
        {{/if}}
    </title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
